# Android Studio / IntelliJ
.idea/
*.iml

# Gradle
.gradle/
**/build/

# Local (não versionar)
local.properties

# Keystore / chaves (NUNCA versionar)
keystore/
keystore.properties
*.jks
*.keystore

# Pacotes de build
*.aab
*.apk

# Saídas de release locais (opcional)
app/release/

# Android/NDK
/captures
.externalNativeBuild/
.cxx/

# OS
.DS_Store
Thumbs.db

